DB_HOST=localhost
DB_PORT=5432
DB_NAME=salary_db
DB_USER=postgres
DB_PASSWORD= (This one has to be ur postgres password pls remember it)
CSV_FILE=data/job_salary_prediction_dataset.csv
TABLE_NAME=job_salary_prediction_dataset
